<div class="container">
    <div class="row">
        @{
            await Html.RenderPartialAsync("_welcomeDiv");
            await Html.RenderPartialAsync("_alertasDiv");
        }
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-2 rounded-3 shadow-sm border-2 border-primary">
            <div class="card-header py-3 bg-primary">
                <h4 class="my-0 fw-normal text-white"><strong>Balance Total</strong></h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 m-2">

                <div class="btn-group float-end">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Fecha
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Semanal</a></li>
                        <li><a class="dropdown-item" href="#">Mensual</a></li>
                        <li><a class="dropdown-item" href="#">Trimensual</a></li>
                        <li><a class="dropdown-item" href="#">Anual</a></li>
                    </ul>
                </div>
            </div>
           
            <div class="card-body mt-0">
              
                <h1 class="card-title pricing-card-title text-primary">€ 0.00</h1>
                <hr />

                <div class="container mb-3 mt-3">
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Color</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info"><i class="bi bi-pencil-square text-white"></i></a>
                                <a class="btn btn-danger"><i class="bi bi-trash text-white"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-start">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </div>
             
                <div class="float-end">
                    <a class="btn btn-primary float-end">Nueva Categoría +</a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-2 rounded-3 shadow-sm border-2 border-success">
            <div class="card-header py-3 bg-success">
                <h4 class="my-0 fw-normal text-white"><strong>Ingreso Total</strong></h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 m-2">

                <div class="btn-group float-end">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Fecha
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Semanal</a></li>
                        <li><a class="dropdown-item" href="#">Mensual</a></li>
                        <li><a class="dropdown-item" href="#">Trimensual</a></li>
                        <li><a class="dropdown-item" href="#">Anual</a></li>
                    </ul>
                </div>
            </div>

            <div class="card-body mt-0">

                <h1 class="card-title pricing-card-title text-primary">€ 0.00</h1>
                <hr />

                <div class="container mb-3 mt-3">
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Color</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info"><i class="bi bi-pencil-square text-white"></i></a>
                                <a class="btn btn-danger"><i class="bi bi-trash text-white"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-start">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </div>

                <div class="float-end">
                    <a class="btn btn-success float-end">Nueva Categoría +</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-2 rounded-3 shadow-sm border-2 border-danger">
            <div class="card-header py-3 bg-danger">
                <h4 class="my-0 fw-normal text-white"><strong>Gasto Total</strong></h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 m-2">

                <div class="btn-group float-end">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Fecha
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Semanal</a></li>
                        <li><a class="dropdown-item" href="#">Mensual</a></li>
                        <li><a class="dropdown-item" href="#">Trimensual</a></li>
                        <li><a class="dropdown-item" href="#">Anual</a></li>
                    </ul>
                </div>
            </div>

            <div class="card-body mt-0">

                <h1 class="card-title pricing-card-title text-danger">€ 0.00</h1>
                <hr />

                <div class="container mb-3 mt-3">
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>Color</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-info"><i class="bi bi-pencil-square text-white"></i></a>
                                <a class="btn btn-danger"><i class="bi bi-trash text-white"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-start">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </div>

                <div class="float-end">
                    <a class="btn btn-danger float-end">Nueva Categoría +</a>
                </div>

            </div>
        </div>
    </div>
  
</div>